/* global css start */
body{
    margin: 0;
    padding: 0;
    font-family: 'Yeseva One', cursive;
    
}
p{
    font-family: 'Lato', sans-serif;
}
.section-title{
    background-image: url(../img/Divider.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}
.white-section-title{
    background-image: url(../img/Decoration.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}
.pattern{
    background-image: url(../img/pattern.png);
}
/* global css end */
/* header part start */
header{
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
}
.nav-link{
    color: #ffffff !important;
    margin-left: 15px;
    font-size: 19px;
}
.social-icon i{
    margin-left: 10px;
    color: #dab33e;
}
/* header part end */
/* banner part start */

#banner{
    width: 100%;
    height: 725px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-text{
    padding-top: 20%;
}
.banner-text h1{
    font-size: 70px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}
#banner img{
    margin: 25px 0 50px 39%;
}
#banner .button a{
    margin-left: 32.5%;
    border: 1px solid black;
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
}
#banner .cta_btn-1{ background:
    #ffffff73;
    color:#000 !important;
}
#banner .cta_btn-2{
    margin-left: 3% !important;
    background-color: #00000078;
} 
/*  banner part end */
/* about part start */
#about{
    padding: 70px 0;
}
#about .about-margin {
    margin-left: 100px;
}
#about h2{
    font-size: 30px;
    color: #cc9900;
    font-weight: bold;
    padding: 40px 0;
}
#about p{
    font-size: 16px;
    padding: 30px 0;

}
.author-img img{
    margin-left: 150px;
}
.author-food img{
    width: 560px;
    height: 590px;
    object-fit: contain;
}
/* about part end */
/* ingredients part start */
#ingredients{
    padding: 100px 0;
    width: 100%;
    height: 725px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ingredient-text h2{
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    padding: 40px 0 55px;
}
.ingredient-text p{
    font-size: 17px;
    padding: 20px 50px;
    color: #ffffff;
    line-height: 2;
}
.ingredients-img img{
    margin-left: 20px;
    padding-bottom: 50px;
}
.ingredient-text{
    position: relative;
    z-index: 999;
}
.ingredient-text::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -999;
}
/* ingredients part end */
/* menu part start */
#menu{
    padding: 100px 0;
}
.food-items {
    margin-bottom: 50px;
}
.food-items h2{
    padding-bottom: 35px;
    color: #cc9900;
    font-size: 30px;

}
#menu .single-food-items{
    margin-bottom: 40px;
}
#menu .single-food-items h4{
    color: #cc9900;
    border-bottom: 1px solid #cc9900;
    padding-bottom: 7px;
}
#menu .single-food-items h4 span{
    float: right;
}
#menu .special{
    position: relative;
    border: 1px solid #cc9900;
}
#menu .special::after{
    content: "special";
    position: absolute;
    top: -28px;
    right: -1px;
    width: 65px;
    height: 27px;
    background-color:#cc9900;
    padding: 1px 1px 1px 4px;
    color:#fff;
}
/* menu part end */
/* review part start */
#review{
    padding: 80px 0;
    width: 100%;
    height: 725px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.review-text h2{
    font-size: 30px;
    padding-bottom: 50px;
}
.review-text p{
    font-family: 'Gentium Book Basic', serif; 
    font-size: 30px;
}
.review-author{
    font-family: 'Lato', sans-serif !important;
    font-size: 20px !important;
    padding-top: 20px;
}
.carousel-indicators {
    margin-bottom: 25px !important;
}
.review-text {
    position: relative;
    z-index: 999;
    padding: 55px 40px;
}
.review-text::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #00000094;
    z-index: -999;
}
/* review part end */
/* reservations part start */
#reservations{
    padding: 100px 0;
}
.reservation-img img{
    width: 260px;
    height: 510px;
    margin-right: 40px;
}
.reservation-content h2{
    font-size: 30px;
    padding-bottom: 35px;
    color: #cc9900;
}
.reservation-content p{
    font-size: 16px;
    padding: 5px 35px;
}
.reservation-form{
    color: #cc9900;
}
.single-data{
    margin-bottom: 20px;
}
button, input, select{
    border: 1px solid #cc9900;
    width: 200px;
    height: 40px;
    padding: 0 15px;
}
.submit-btn{
    background-color: #cc9900;
    color: #ffffff;
    margin-left: 135px;
    margin-top: 10px;
}
/* reservations part end */
/* footer part start */
footer{
    padding: 80px 0;
    background-color: #191919;
    color: #ffffff;
}
footer h2{
    font-size: 30px;
    padding-bottom: 35px;
}
footer .white-section-title{
    background-size: auto 28px !important;
}
footer p{
    padding: 0px 30px;
    margin-top: 20px;
}
.payment-icon,.social-media{
    margin-top: 25px;
}
.payment-icon i, .social-media i{
    padding: 0 5px;
}

/* footer part end */
